:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px !important;
  font-family: "Playfair Display", serif;
  font-weight: 800 !important;
}

h2 {
  font-size: 40px !important;
  font-family: "Poppins", sans-serif !important;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7 !important;
  font-family: "Poppins", sans-serif !important;
}

.font {
  font-size: 40px;
  font-family: "Playfair Display", serif !important;
  font-weight: 800;
}

.link-social {
  text-decoration: none;
}

.link-social i {
  color: black;
  font-size: 28px !important;
}

nav a {
  font-family: "Poppins", sans-serif !important;
}

.paragraph {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "Poppins", sans-serif !important;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: "Poppins", sans-serif !important;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.text-color {
  color: var(--primary-color) !important;
  font-weight: bold !important;
}

.p-font-size {
  font-size: 18px;
  line-height: 1.5;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
}

.btn-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-button:hover {
  color: var(--second-color);
}

.description-home {
  display: block;
  justify-content: center;
  text-align: center;
  background-color: #f9f7fe;
  padding: 160px 20px;
}

.description {
  padding: 120px 60px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  #contact h2 {
    font-size: 20px !important;
  }

  .email-link {
    font-size: 18px !important;
  }
}

@media (max-width: 300px) {
  .navigation-links a {
    padding: 10px 10px;
    font-size: 12px;
    margin: 10px;
  }

  h1 {
    font-size: 22px;
  }

  h3 {
    font-size: 14px !important;
  }

  .email-link {
    font-size: 14px !important;
  }
}

@media (max-width: 780px) {
  .display-none {
    display: none;
  }

  .description {
    padding: 10px;
  }
}

@media (max-width: 990px) {
  .description {
    padding: 0px;
  }
}
